.projectDetails {
  font-family: "poppins", sans-serif;
}

.active {
  background-color: white;
  color: #1b1f2e;
}

.progressBar {
  width: 100%;
  height: 10px;
  grid-column: 1 / -1;
}

.progressBar::-webkit-progress-bar {
  background-color: #e9ecef;
}
.progressBar::-webkit-progress-value {
  background-color: #24c2a5;
}
