.projects {
  width: 100%;
  padding: 30px 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  color: #fbfbfb;
  font-family: Poppins, sans-serif;
}
.projects h3 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects h1 {
  font-size: calc(1.8rem + 2vw);
  font-weight: 700;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 100%;
}
.project-container {
  width: 80%;
  height: auto;
  display: flex;
  align-items: row;
  justify-content: space-around;
  gap: 20px;
  padding: 30px 0px;
  min-width: 320px;
}
/* .project-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  cursor: pointer;
  scroll-behavior: smooth;
}

.project-container::-webkit-scrollbar-thumb {
  background-color: #29f0b4;
}

.project-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
} */

.project-card {
  width: 320px;
  height: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #33353d;
  gap: 10px;
  cursor: pointer;
  margin: 0 30px;
}
.project-card .top {
  width: 100%;
  height: 50%;
  position: relative;
}
.project-card .top .heart{
  background-color: #838694;
  position: absolute;
  top:5%;
  right: 5%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 5px;
  transition: 0.3s ease-in-out;
}
.heart.active{
  background-color: #fff !important;
  color: #1b1f2e;
}
.project-card .top img {
  width: inherit;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.top-flag {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin: 0 0 10px 0;
}
.top-flag .category {
  background-color: #ffff;
  padding: 4px 10px;
  color: #33353d;
  width: 45%;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}
.top-flag .time {
  color: #838694;
  font-size: 12px;
  font-weight: 500;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.time .icon {
  color: #fff;
}
.project-card .bottom {
  padding: 10px 20px;
}
.project-card .name {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 700;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 10px 0 20px;
}
.project-card .metre {
  margin: 0 0 10px;
  width: 100%;
}
.project-card .metre .figures {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
  color: #838694;
  font-size: 14px;
  font-weight: 500;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.project-card .outer-metre {
  width: 100%;
  background-color: #fff;
  position: relative;
  height: 9px;
  display: block;
  overflow: hidden;
}
.project-card .inner-metre {
  width: 14.1%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #29f0b4;
}
.project-card .goal {
  font-size: 16px;
  font-weight: 700;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 15px 0 0;
}
.projects .dot {
  background-color: #2d313e;
  width: 7px;
  height: 7px;
  display: block;
  margin-right: 10px;
}

@media (max-width: 902px) {
  .project-container {
    scroll-snap-type: x mandatory;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .project-card {
    scroll-snap-align: start;
  }
}
